*{
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom-form {
    display: inline-block;
    padding: 10px;
  }
  
  .custom-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .custom-form input[type="text"],
  .custom-form input[type="tel"],
  .custom-form input[type="number"],
  .custom-form input[type="email"],
  .custom-form input[type="submit"] {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    width: 200px;
  }
  
  .custom-form input[type="submit"] {
    cursor: pointer;
    background-color: magenta;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
  }
.form_section{
  width: 100%;
  height: 100ch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_article{
  width: 80%;
  height: 80%;
  padding: 10px;
  display: flex;
  justify-content:space-evenly;
  box-shadow: 2px 2px 20px 10px gray;
}
.leftForm{
  width: 50%;
  height: 100%;
} 
.rightImg{
  width: 50%;
}
.rightFig{
  width: 100%;
  height: 100%;
}
.testImg{
  width: 100%;
  height: 100%;
}
